@media (min-width: 1200px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (max-width: 575.98px) {
    .full-menu {
        height: 75px;
    }

    .full-menu button.navbar-toggler {
        background: #fff;
        margin-right: 20px;
    }

    .full-menu button.navbar-toggler i {
        font-size: 25px;
    }

    .navbar-nav {
        background: #222222;
        margin: 0 20px;
    }
}
